#**README**#

O Treinamento de Python é um projeto desenvolvido pelo Laboratório de
Instrumentação Eletrônica e Controle (LIEC) e pelo Programa de Educação Tutorial
de Engenharia Elétrica da Universidade Federal de Campina Grande (PET Elétrica
UFCG), que tem como objetivo principal, durante a sua execução, desenvolver
habilidades relacionadas a linguagem de programação Python, com foco em
aplicações para engenheiros e para cientistas.

Todo conteúdo produzido neste notebook foi adaptado por Rafael dos Santos Lima e por Tâmara Ruth Dantas dos Santos. Algumas sintaxes foram revisadas com auxilio da documentação do Python (https://docs.python.org/3/tutorial/index.html), do W3Schools (https://www.w3schools.com/python/default.asp) e do PYCUBATOR (http://df.python.org.br/pycubator/index.html).

Este notebook será atualizado frequentemente.

---

Para mais informações e/ou sanar eventuais dúvidas, entrar em contato com:
*   Rafael - rafaelsantos.lima@ee.ufcg.edu.br
*   Tâmara - tamara.santos@ee.ufcg.edu.br

# **Funções**

## **Introdução**

Funções são blocos de código nomeados, concebidos para realizar uma tarefa específica. Quando queremos executar uma tarefa em particular, definida em uma função, chamamos o nome da função responsável por ela. 

> Em Python, uma função é definida pela sintaxe ***def***:
```
def hello_world():
  print("Hello World!")
```

> Para utilizar essa função basta chamá-la pelo nome escolhido e ela executará a função que lhe foi atribuída:
```
hello_world()
```

Nesse exemplo a frase Hello World! é exibida.

In [ ]:
def hello_world():
  print("Hello World!")

hello_world()

Hello World!

## **Argumentos**

Também é possível passar argumentos/parâmetros nas nossas funções. Os argumentos são utilizados para a passagem de informações para a função criada. Cada argumento é constituído de um nome de variável e de um valor, ou por meio de listas e dicionários de valores que são separados por meio de uma vírgula.

In [ ]:
def saudacao(primeiro_nome, ultimo_nome):
  nome_completo = primeiro_nome.strip() + ' ' + ultimo_nome.strip()
  print('Olá, ' + nome_completo.title())
  
nome = input("Digite seu nome: ")
sobrenome = input("Digite seu sobrenome: ")
saudacao(nome, sobrenome)

 **Valores padrão**

Podemos definir um valor padrão para os argumentos nossa função. Desse modo, caso o usuário não preencha os argumentos da função, ela utilizará o padrão indicado.

In [ ]:
def saudacao(primeiro_nome= 'Carlos', ultimo_nome='Antônio'):
  nome_completo = primeiro_nome + ' ' + ultimo_nome
  print('Olá ' + nome_completo.title())

saudacao('RaFAel', 'Santos')
saudacao(ultimo_nome='ruth', primeiro_nome='Tâmara')
saudacao()

Olá Rafael Santos
Olá Tâmara Ruth
Olá Carlos Antônio

**Passando uma lista como argumento**

Você pode enviar qualquer tipo de dados como argumento para uma função (string, numero, lista, dicionário, etc.). Esse dado será tratado como o mesmo tipo de dados dentro da função.

> Perceba que nós tratamos o dado do nosso argumento da mesma forma que trataríamos se estivessem acessando essa lista sem uma função.

In [ ]:
def minhas_frutas(frutas):
  # print (frutas)
  for fruta in frutas:
    print(fruta)

frutas = ['Manga', 'Maçã', 'Melão']
minhas_frutas(frutas)

Manga
Maçã
Melão

## **Retornando valores**

Podemos deixar uma função retornar um valor, para isso utilizamos a declaração de retorno “return value”:

> Perceba que nossa função retorna um valor que pode ser atribuído a uma variável, caso queiramos.

In [ ]:
def somar_5(num):
  return num + 5

numero = somar_5(10)
print(numero)
print(somar_5(-10))

15
-5

# **Tuplas, conjuntos e dicionários**


|  **TIPO**  |   **DESCRIÇÃO** | **SINTAXE**|
|:----------:|:---------------:|:-----------:|
|**tuple**|**tupla: uma sequência de dados que é imutável** |*vogais = ('a','e','i','o','u')*|
| **set**  | **conjunto: elementos não possuem ordem e não se repetem** |*alg_decimais = {0,1,2,3,4,5,6,7,8,9}* |
| **dict** | **dicionário: são indexaxos por uma chave keys** | *alg_romanos = {'I':1,"II":2,'III':3,'IV':4,'V':5,'X':10}* |

## **Tuplas**

Tuplas são usadas para armazenar vários itens em uma única variável;
> É uma coleção ordenada, seus itens têm uma ordem definida e essa ordem não mudará;

> É imutável, nós não podemos mudar, adicionar ou remover itens após a tupla ter sido criada;

> As tuplas são escritas com colchetes.

In [ ]:
vogais = ('a','e','i','o','u')
vogais[0]

'a'

**Também podemos fatiar:**

In [ ]:
print (vogais[0:2])
print (vogais[1:])
print (vogais[-5])

('a', 'e')
('e', 'i', 'o', 'u')
a

**Tuplas são imutáveis:**

In [ ]:
#O objeto não suporta atribuição.
vogais = ('a','e','i','o','u')
vogais[0] = 'c'

TypeError: ignored

**Usando o for:**

In [ ]:
for i in vogais:#Para cada "vogal" na tupla de "vogais"
    print(i)

a
e
i
o
u

In [ ]:
for i in range(len(vogais)):
  print(vogais[i])

a
e
i
o
u

In [ ]:
for i in enumerate(vogais):#enumerate adiciona um contador a um interável
  print(i[1])

a
e
i
o
u

**Os itens de tupla podem ser de qualquer tipo de dados:**

In [ ]:
tupla1 = ("apple", "banana", "cherry")
tupla2 = (1, 5, 7, 9, 3)
tupla3 = (True, False, False)
print (tupla1)
print (tupla2)
print (tupla3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

**Uma tupla pode conter diferentes tipos de dados:**

In [ ]:
tuple1 = ("abc", 34, True, 40, "cachorro")
tuple1

('abc', 34, True, 40, 'cachorro')


**O construtor tupla ()**

> Também é possível usar o construtor tuple () para fazer uma tupla:

In [ ]:
estaTupla = tuple(("apple", "banana", "cherry"))#note os colchetes duplos
print(estaTupla)

('apple', 'banana', 'cherry')

**Para apagar uma Tupla, usamos o del:**

In [ ]:
comidas = ("apple", "banana", "cherry")
del(comidas) 
print (comidas)

NameError: ignored

## **Conjuntos**

Os conjuntos são usados ​​para armazenar vários itens em uma única variável.

> Um conjunto é uma coleção não ordenada e não indexada;

> Os conjuntos são escritos com colchetes.

In [ ]:
set_variaveis = {'e','i','o','a','u'}
set_variaveis

{'a', 'e', 'i', 'o', 'u'}

Perceba, pela saída, que a ordem não importa aqui.

**Não são indexáveis:**

In [ ]:
set_variaveis[0]

TypeError: ignored

**Os elementos não se repetem:**

In [ ]:
set_var = {'a','e','i','o','a'} #perceba que eu estou repetindo o 'a'
set_var

{'a', 'e', 'i', 'o'}

**Métodos:**

|  **TIPO**  |   **DESCRIÇÃO** | 
|:----------:|:---------------:|
s.add(v) | adiciona um valor no set
s.remove(v) | remove v. Deve disparar um erro se v não estiver em s
s.discard(v) | remove v. Não disparar erro
s.difference(s2) ou s - s2 | elementos em s, mas não em s2
s.union(s2) ou s \| s2 | elementos em s ou s2
s.intersection(s2) ou s & s2 | elementos em s e s2
s.update(s2) ou s = s \| s2 | atualiza s com valores de s2

In [ ]:
conj1 = {'a','b','c','d'}
conj2 = {'a','e','i','o','u'}
x = conj1.difference(conj2)
print(x)

{'b', 'c', 'd'}

## **Dicionários**

Os dicionários são usados para armazenar valores de dados na chave: pares de valores.

> Um dicionário é uma coleção ordenada*, modificável e não permite duplicatas.

> Diferentemente das listas em que os elementos são acessados através de uma posição ou índice, nos dicionários o acesso às informações ocorrem através de chaves.


*São ordenados a partir do Python versão 3.7. No Python 3.6 e anteriores, os dicionários não são ordenados.

In [ ]:
dict01 = {
  "marca": "Ford",
  "modelo": "Mustang",
  "ano": 1964}
print(dict01)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1964}

**O dicionário não é indexado como as listas. Então, se colocarmos dict01[0], teremos um erro: **

In [ ]:
print(dict01[0])

KeyError: ignored

**Os dicionários são indexados com suas chaves:**

In [ ]:
dict01['ano']

1964

**Para adicionar algum elemento:**

In [ ]:
dict01['Estado'] = 'Seminovo'
dict01

{'Estado': 'Seminovo', 'ano': 1964, 'marca': 'Ford', 'modelo': 'Mustang'}

**Para remover algum elemento:**

In [ ]:
del dict01['Estado'] 
print(dict01)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1964}

**Métodos:**

|  **TIPO**  |   **DESCRIÇÃO** | 
|:----------:|:---------------:|
.items() | Retorna os itens do dicionário
.keys()	 | 	Retorna as chaves do dicionário
.values() | Retorna os valores do dicionário
.pop(key) | Remove a chave especificada e retorna o valor do item
.copy()| Retorna uma cópia
.clear() | Remove os itens
.get(key) | Retornas a váriável em key

Para remover um valor utilizando o .pop() teremos que passar a chave, e não o índice.

In [ ]:
alg_romanos = {'I':1,'II':2,'III':3,'IV':4}

a = alg_romanos.pop('IV')
alg_romanos

{'I': 1, 'II': 2, 'III': 3}

In [ ]:
alg_romanos.items()

dict_items([('I', 1), ('II', 2), ('III', 3)])

**No dicionário, eu não posso usar o enumerate. Mas podemos usar o for assim:**

In [ ]:
filme = {'titulo': 'Star Wars',
         'ano': 1977,
         'diretor': 'George Lucas'}  
# for i in filme.items():
#   print (i[1])
for k, v in filme.items():  
    print(f'O {k} é {v}')

O titulo é Star Wars
O ano é 1977
O diretor é George Lucas

**Transformando esses elementos em uma lista com 3 elementos, onde cada elemento dessa lista é uma tupla que contém a chave e o elemento.**

In [ ]:
x = list(alg_romanos.items())
x

[('I', 1), ('II', 2), ('III', 3)]

**Se quisermos pegar algum elemento dessa tupla:**

In [ ]:
x[1][0]

'II'

**Retornando os valores do dicionário**

In [ ]:
list(alg_romanos.values())

[1, 2, 3]

Visto isso, temos que uma lista é uma sequência de elementos em uma ordem específica. Você pode acessar elementos com um índice numérico, por exemplo, the_list[3].

Uma tupla é basicamente uma lista imutável, o que significa que você não pode adicionar, remover ou replace nenhum elemento.

Um conjunto não tem ordem, mas tem a vantagem sobre uma lista que testar se o conjunto contém um elemento é muito mais rápido, quase independentemente do tamanho do conjunto. Ele também tem algumas operações úteis, como união e interseção.

Um dictionary é um mapeamento de chaves para valores em que as chaves podem ser todos os tipos de objects diferentes, em contraste com as listas nas quais as ‘chaves’ podem ser apenas números.

# **Arquivos**

## **Abrir**

**open(name, mode)** retorna um objeto do tipo file

> name é o caminho do arquivo a ser aberto;

> mode:

*   '**r**' (read - leitura): o arquivo é aberto em modo somente leitura
*   '**w**' (write - escrita): o arquivo é aberto em modo somente escrita, e é truncado.
*   '**a**' (append - adição): como 'e' mas acrescenta no arquivo sem truncar.
*   '**x**': como 'w' mas o arquivo não deve existir.

> open(name) padrão para leitura: open(name, 'rt')

## **Escrever**

> **f.write(string)** escreve string (sem adicionar **\n**)

> **f.writelines(sequence)** escreve uma sequência de conteúdo (também sem adicionar **\n**)

In [ ]:
objeto = 'rafael'

with open('exemplo1.txt', 'w') as f:
  f.write(objeto)

In [ ]:
pessoas = ['Maria ', 'Pedro ', 'Ana ', 'João ']

with open('exemplo2.txt', 'w') as f:
  f.writelines(pessoas)

In [ ]:
convidados = ['Cecília ', 'Marcos ', 'Bruno ', 'Fernanda ']

with open('exemplo2.txt', 'a') as f:
  f.writelines(convidados)

## **Ler**

> **f.read()** faz a leitura de todo o arquivo (até EOF)

> **f.read(index)** faz a leitura do arquivo até index

In [ ]:
with open('exemplo1.txt', 'r') as f:
  aux = f.read()
  print('Leitura concluída')

print(aux)

Leitura concluída
rafael

In [ ]:
#Imprimi as informações do arquivo
with open('exemplo2.txt') as f:
  for l in f:
    print(l)

Maria Pedro Ana João Cecília Marcos Bruno Fernanda

## **Fechar**

**f.close():**

> Escreve o contéudo do objeto file no disco.

Pode ser feito de forma alternativa usando a declaração **with**:

In [ ]:
with open('exemplo2.txt') as f:
  print(f.read())
  f.close

Maria Pedro Ana João Cecília Marcos Bruno Fernanda

# **Erros e Exceções**

##**Erros de Sintaxe**

In [ ]:
while True print('Treinamento de Python')

SyntaxError: ignored

##**Exceções**

In [ ]:
print(info)

NameError: ignored

In [ ]:
num = int(input('Digite um número: '))

Digite um número: matheus

ValueError: ignored

In [ ]:
num = int(input('Numerador: '))
den = int(input('Denominador: '))

print(num/den)

Numerador: 10
Denominador: 0

ZeroDivisionError: ignored

##**Capturando Exceções**

###**Capturando uma exceção**

In [ ]:
while True:
  try:
    num = int(input('Digite um número: '))
    break
  except ValueError:
    print('\nA informação inserida não é um número inteiro.\nPor favor, digite novamente.\n')

print('\n\tSucesso!')

Digite um número: biancca

A informação inserida não é um número inteiro.
Por favor, digite novamente.

Digite um número: sarah

A informação inserida não é um número inteiro.
Por favor, digite novamente.

Digite um número: 100

	Sucesso!

###**Capturando todas exceções**

In [ ]:
while True:
  try:
    num = int(input('Digite um número: '))
    break
  except:
    print('\nA informação inserida não é um número inteiro.\nPor favor, digite novamente.\n')

####Riscos:
*   Disparos de saída do sistema
*   Erros de memória
*   Qualquer coisa que você pode não ter considerado

###**Capturando múltiplas exceções**

In [ ]:
while True:
  try:
    num = int(input('Numerador: '))
    den = int(input('Denominador: '))

    print(num/den)
    break
  
  except (ValueError, ZeroDivisionError):
    print('\nEntrada inválida!\nInsira novamente!\n')


  #except ValueError: 
    #print('Entrada não é um número do tipo inteiro! Insira novamente!')
  #except ZeroDivisionError:
    #print('Não é possível realizar divisão por 0. Insira outro valor!')

Numerador: pedro

Entrada inválida!
Insira novamente!

Numerador: 67
Denominador: 0

Entrada inválida!
Insira novamente!

Numerador: 10
Denominador: 2
5.0

##**Acessando Exceções**

In [ ]:
while True:
  try:
    num = int(input('Numerador: '))
    den = int(input('Denominador: '))

    print(num/den)
    break

  except ValueError as e1:
    print('\nERRO', e1) 
    print('Entrada não é um número do tipo inteiro! Insira novamente!\n')
  
  except ZeroDivisionError as e2:
    print('\nERRO', e2)
    print('Não é possível realizar divisão por 0. Insira outro valor!\n')

Numerador: python

ERRO invalid literal for int() with base 10: 'python'
Entrada não é um número do tipo inteiro! Insira novamente!

Numerador: 11899
Denominador: 0

ERRO division by zero
Não é possível realizar divisão por 0. Insira outro valor!

Numerador: 1
Denominador: 1
1.0

##**Tipos de Exceções**

|  **TIPO**  |   **MOTIVO** |
|:----------:|:-----------:|
|**ArithmeticError**| Inconformidade em qualquer operação aritmética |
| **ZeroDivisionError**  | Divisão por zero |
| **ImportError** | Inconformidade em carregar um módulo ou importar arquivo |
|**IndexError**| Inconformidade ao tentar acessar um índice que não existe dentro de uma lista ou string |
| **ValueError**  | Atribuição inválida para a variável |
| **TypeError** | Operação com tipos incompatíveis de dados |
| **Exception** | Qualquer outra exceção que possa ocorrar |

# **Orientação a objeto**

##**Declaração de Classe**

As classes são mecanismos que proporcionam uma forma de organizar dados e funcionalidades em um só local.

> Variáveis definidas no corpo da classe são atributos de classe

> Funções definidas no corpo da classe são métodos de instância

In [ ]:
class NomeDaClasse:
  ...

##**Construtor**

Estrutura mais conhecida por ser responsável em conter os recursos necessários para o funcionamento do objeto que será definido.

```
__init__ inicializa uma instância da classe
```

###**Exemplo I**

In [ ]:
#Construindo a classe
class Carro:
  
  #Inicializando o objeto e atribuindo os argumentos
    def __init__(self, corCarro, marcaCarro, anoCarro):
        self.cor = corCarro
        self.marca = marcaCarro
        self.ano = anoCarro

#Criando o objeto
novoCarro = Carro('vermelho', 'Fiat', 2010)

#Exibindo as informações
print(novoCarro.cor)
print(novoCarro.marca)
print(novoCarro.ano)

vermelho
Fiat
2010

**Importante!!**

```
novoCarro = Carro('preto', 'Jeep', 2020)

Significa:

*   Criação de um objeto tipo Carro
*   Chamada da parte Carro.__init__(self)
*   Ligação do self com o nome novoCarro
```

###**Exemplo II**

In [ ]:
#Construindo a classe
class Triangulo:
  
  #Inicializando o objeto e atribuindo os argumentos
  def __init__(self, base, altura):
    self.b = base
    self.a = altura
    
  #Como os argumentos já foram passados antes, não precisa passar novamente os valores dentro dos ()
  def area(self):
    return (self.b * self.a / 2)

#Criando o objeto no código -> passando os argumentos
x = Triangulo(2,3)

#Calculando a área do triângulo
x.area()

3.0

**Importante!!**

```
x = Triangulo(2,3)

Significa:

*   Criação de um objeto tipo Triangulo
*   Chamada da parte Triangulo.__init__(self)
*   Ligação do self com o nome x
```

##**Variáveis Privadas**

Variáveis "privadas", ou seja, que não podem ser acessadas, exceto de dentro de um objeto, **não existem em Python**. 

No entanto, há uma convenção que é **seguida pela maioria dos códigos**: um nome precedido de um sublinhado deve ser tratado como uma parte não pública

**Modo de Usar**
```
class Circulo:
  _pi = 3.14

  ...

  def get_perimter(self):
    return 2 * self._pi * self.r
```

In [ ]:
class Area:
    _num = 2
    
    def __init__(self, altura, largura):
        self.altura = altura
        self.largura = largura

    def area(self):
        return self.altura * self.largura * self._num

b = Area(2, 3)
b.area()

12

##**Herança**

###**Herança Simples**

In [ ]:
#Primeira classe
class Animal:
  som = None
  
  #Definição da função para exibir ao usuário o som do animal
  def somAnimal(self):
    print(self.som)

#Segunda classe -> Recebendo herança simples
class Gato(Animal):
    som = "meow"

#Terceira classe -> Recebendo herança simples
class Pato(Animal):
    som = "quack"

#Conectando e exibindos as informações

g = Gato()
g.somAnimal()

p = Pato()
p.somAnimal()

meow
quack

###**Herança Múltipla**

In [ ]:
#Primeira classe
class Som:
  som = None
  
  #Definição da função para exibir ao usuário o som do animal
  def somAnimal(self):
    print(self.som)

#Segunda classe
class Nome:
  nome = None

  #Definição da função para exibir ao usuário o nome do animal
  def nomeAnimal(self):
    print(self.nome)

#Terceira classe -> Recebendo herança múltipla
class Gato(Som, Nome):
    som = "meow"
    nome = 'Légolas'

#Quarta classe -> Recebendo herança múltipla
class Cachorro(Som, Nome):
    som = "auau"
    nome = 'Thor'

#Conectando e exibindo as informações

g = Gato()
g.somAnimal()
g.nomeAnimal()

print()

c = Cachorro()
c.somAnimal()
c.nomeAnimal()

meow
Légolas

auau
Thor

##***Magic Methods***

Os Métodos Mágicos/Especiais, ou *Magic Methods*, são estruturas utilizadas com o intuito de simplificar o desenvolvimento do código durante a construção e manipulação de objetos. 

Sendo, assim, métodos pré-definidos em todos os objetos, com uso sob circunstâncias especiais.

###**new e init**

```
__new__ cria um novo objeto
__init__ inicializa o objeto
```

###**str e repr**

```
str(x) → x.__str__()
Retorna uma string humanizada

repr(x) → x.__repr__()
Retorna uma descrição completa do objeto
```

###**Comparações**

```
x < y → x.__lt__(y)

x > y → x.__gt__(y)

x <= y → x.__le__(y)

x >= y → x.__ge__(y)

x == y → x.__eq__(y)

x != y → x.__ne__(y)
```

###**Operações Aritméticas**

Todas as operações aritméticas possuem métodos mágicos

```
Por exemplo:

__add__ → para adicionar o operador + aos objetos
__sub__ → para adicionar o operador - aos objetos
__mul__ → para adicionar o operador * aos objetos
__div__ → para adicionar o operador / aos objetos
__mod__ → para adicionar o operador % aos objetos
__pow__ → para adicionar o operador ** aos objetos
```

Existem diversos outros métodos a serem explorados: https://www.phylos.net/2021-05-25/python-classes-metodos-especiais/